h1{
    color:#0000ff;
    text-align:center;
    font-size:30px;
    background-color: bisque;
}
h2{
    color:green;
    font-style:italic;
    text-align:center;
}
p{
    font-family:sans-serif;
    line-height: 90%;
}
ul{
    line-height:40px;
}
